.root {
    -fx-background-color: linear-gradient(to bottom, #fffbe6, #ffefb7);
}

.label, .table-view, .table-column {
    -fx-font-family: "Poppins";
    -fx-font-size: 16px;
}

.table-view {
    -fx-background-color: #fffde9;
    -fx-border-radius: 18;
    -fx-background-radius: 18;
    -fx-effect: dropshadow(three-pass-box, #f8eab9, 18, 0, 0, 4);
}

.table-view .column-header-background {
    -fx-background-color: #ffecb3;
    -fx-background-radius: 12 12 0 0;
}

.table-row-cell {
    -fx-background-color: transparent;
}

.table-row-cell:filled:selected, .table-row-cell:filled:selected:focused {
    -fx-background-color: #ffe066;
}

.status-attend {
    -fx-background-color: #d7ffd9;
    -fx-text-fill: #2e7d32;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
    -fx-background-radius: 10;
}

.status-absence {
    -fx-background-color: #ffe6e6;
    -fx-text-fill: #b71c1c;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
    -fx-background-radius: 10;
}
